/*
 * Reset
 */
* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  &:before, &:after {
    box-sizing: border-box;
  }
}

/*
 * Defaults
 */
html, body {
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-family-sans;
  font-size: 20px;
  line-height: 1.4;
  color: $color-alpha;
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
}

img {
  max-width: 100%;
  &.round {
    border-radius: 50%;
  }
}

h1 {
  font-family: $font-family-serif;
  font-size: 2.8rem;
  margin-bottom: $gutter-m;
  line-height: 1.2;
}

h2 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: $gutter-s / 2;
  a {
    color: $color-beta;
    border-bottom: 1px solid transparent;
    &:hover {
      border-bottom-color: $color-beta;
    }
  }
}

h3 {
  font-size: 0.8rem;
  line-height: 1.4;
  font-weight: 300;
  opacity: 0.6;
  text-transform: uppercase;
}

hr {
  width: 33.33%;
  height: 2px;
  background-color: rgba(#000, 0.1);
  margin: $gutter-l auto;
}

p {
  font-weight: 300;
  line-height: 1.7;
  &.stats {
    font-size: 2rem;
    font-family: $font-family-serif;
    line-height: 1.2;
    margin-bottom: $gutter-m;
    font-weight: bold;
    span {
      color: $color-beta;
    }
    a {
      color: $color-beta;
      border-bottom: 1px solid $color-beta;
      &:hover {
        color: $color-alpha;
        border-bottom-color: $color-alpha;
      }
    }
    &+p {
      font-size: 1rem;
      a {
        color: $color-alpha;
        border-bottom: 1px solid $color-alpha;
        &:hover {
          color: $color-beta;
          border-bottom-color: $color-beta;
        }
      }
    }
  }
  &+p {
    margin-top: $gutter-s;
  }
  &+h2 {
    margin-top: $gutter-s;
  }
}

.centered {
  text-align: center;
}

.gutter-m-bottom {
  margin-bottom: $gutter-m;
}

/*
 * Header
 */
.topbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  line-height: 64px;
  padding: 0 $gutter-s;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  .logo {
    padding: 0 $gutter-s;
    height: 64px;
    display: block;
    svg {
      display: block;
      height: 30px;
      margin-top: 17px;
    }
    &:hover {
      background-color: rgba(#000, 0.1);
    }
  }
  nav {
    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      li {
        font-size: 0.9rem;
        a {
          display: block;
          padding: 0 $gutter-s;
          font-weight: 400;
          color: #fff;
          &:hover {
            background-color: rgba(#000, 0.1);
          }
        }
      }
    }
  }
}

.main-header {
  position: relative;
  background-image: url(../img/bg-header.jpg);
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 60px);
  display: flex;
  align-items: flex-end;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color-alpha, 0.6);
    z-index: 0;
  }
  .header-content {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 780px;
    padding: $gutter-l $gutter-s;
    margin: 0 auto;
    font-size: 1.2rem;
    * {
      color: #fff;
    }
    p {
      margin-bottom: $gutter-m;
    }
    a {
      border-bottom: 1px solid #fff;
      &:hover {
        opacity: 0.6;
      }
      &.btn {
        background-color: #fff;
        border-radius: 3px;
        padding: $gutter-s;
        color: $color-alpha;
        display: block;
      }
    }
  }
  .btn-more {
    position: absolute;
    width: 100%;
    height: 80px;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 100;
    color: #fff;
    &:before {
      position: absolute;
      bottom: 40px;
      animation-name: hint;
      animation-duration: 5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
  }
}
@keyframes hint {
  10% {
    bottom: 20px;
  }
  100%, 20% {
    bottom: 40px;
  }
}

/*
 * Navigation
 */
.main-nav {
  background-color: #fff;
  width: 100%;
  height: 60px;
  color: $color-alpha;
  &[class*='sticky-'] {
    box-shadow: 0 0 10px rgba(#000, 0.3);
    position: fixed;
    z-index: 999;
  }
  &.sticky-top {
    top: 0;
  }
  &.sticky-bottom {
    bottom: 0;
  }
  ul {
    max-width: 980px;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    padding: 0 $gutter-s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    li {
      a {
        text-transform: uppercase;
        color: $color-alpha;
        display: block;
        line-height: 60px;
        padding: 0 $gutter-s;
        &:hover {
          background-color: $color-beta;
          color: #fff;
        }
      }
    }
  }
}

.sticky-spacer {
  display: none;
  width: 100%;
  height: 60px;
}

/*
 * Button Set
 */
.button-set {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

/*
 * Content
 */
.wrapper {
  &.blue {
    background-color: $color-beta;
    * {
      color: #fff;
    }
    a {
      color: #fff;
      border-bottom: 1px solid #fff;
      &:hover {
        color: $color-gamma;
        border-bottom-color: $color-gamma;
      }
    }
  }
  &.purple {
    background-color: $color-delta;
    * {
      color: #fff;
    }
    a {
      color: #fff;
      border-bottom: 1px solid #fff;
      &:hover {
        color: $color-gamma;
        border-bottom-color: $color-gamma;
      }
    }
  }
  &.grey {
    background-color: #1a1a1a;
    * {
      color: #fff;
    }
    a {
      color: #fff;
      border-bottom: 1px solid #fff;
      &:hover {
        color: $color-beta;
        border-bottom-color: $color-beta;
      }
    }
  }
  .content {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: $gutter-l $gutter-s;
    >p, >h1 {
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

/*
 * Repos
 */
.repos {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  .repo {
    width: calc((100% - (#{$gutter-m} * 2)) / 3);
    .repo-meta {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      font-size: 0.8rem;
      line-height: 1.4;
      font-weight: 300;
      opacity: 0.6;
      a {
        display: block;
        color: $color-alpha;
        &+a {
          margin-left: $gutter-s;
        }
        span {
          color: $color-alpha;
        }
      }
    }
    > p {
      // word-break: break-all;
      overflow-wrap: break-word;
      word-wrap: break-word;
      -webkit-hyphens: auto;
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto;
      font-size: 0.9rem;
      line-height: 1.4;
      font-weight: 300;
      color: rgba(#000, 0.9);
      margin-bottom: $gutter-s;
    }
    .repo-contributors {
      display: flex;
      justify-content: flex-start;
      margin-bottom: $gutter-s / 2;
      a {
        display: block;
        width: calc((100% - (#{$gutter-s} / 2 * 4)) / 5);
        &+a {
          margin-left: $gutter-s / 2;
        }
        img {
          display: block;
          width: 100%;
          border-radius: 50%;
        }
      }
    }
    &:nth-of-type(n+5) {
      margin-top: $gutter-l;
    }
    &:nth-of-type(3n+3) {
      margin-left: $gutter-m;
      margin-right: $gutter-m;
    }
  }
}

.copyright {
  opacity: 0.6;
  font-size: 0.8rem;
  text-align: center;
  margin-top: $gutter-m;
}

/*
 * Loader
 */
.loading {
  width: 100%;
  .loader {
    position: relative;
    width: 48px;
    height: 48px;
    margin: 0 auto $gutter-s auto;
    &:before, &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      border-radius: 50px;
      border-style: solid;
      border-width: 2px;
      border-color: transparent;
      animation-name: spin;
      animation-iteration-count: infinite;
      animation-duration: 2s;
      animation-timing-function: linear;
    }
    &:before {
      width: 100%;
      height: 100%;
      border-top-color: rgba(#000, 0.6);
      border-left-color: rgba(#000, 0.6);
    }
    &:after {
      width: calc(100% - 8px);
      height: calc(100% - 8px);
      border-bottom-color: rgba(#000, 0.6);
      border-right-color: rgba(#000, 0.6);
      animation-direction: reverse;
    }
  }
  p {
    opacity: 0.6;
    text-align: center;
    font-size: 0.75rem;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}